---
//Imports.
import Tournament1 from "../../public/Images/Tournament1.webp";
import Tournament2 from "../../public/Images/Tournament2.webp";
import Tournament3 from "../../public/Images/Tournament3.webp";
import Tournament4 from "../../public/Images/Tournament4.webp";
import Tournament5 from "../../public/Images/Tournament5.webp";
---

<section id='galeria' class='flex flex-col items-center justify-center'>
  <h2 class='text-3xl md:text-5xl text-center font-bold mb-4 md:mb-12'>
    Algunos recuerdos de Galicia Gamers
  </h2>
  <div class='carrousel-container'>
    <div class='carrousel' id='slider'>
      <div class='image-container'>
        <img
          src={Tournament1.src}
          alt='Equipo de esports en la estación de juego'
        />
      </div>
      <div class='image-container'>
        <img
          src={Tournament2.src}
          alt='Estaciones de juego que muestra los componentes y perifericos del setup'
        />
      </div>
      <div class='image-container'>
        <img
          src={Tournament3.src}
          alt='Participantes divirtiéndose en el torneo de esports'
        />
      </div>
      <div class='image-container'>
        <img
          src={Tournament4.src}
          alt='Equipo de esports celebrando una victoria'
        />
      </div>
      <div class='image-container'>
        <img
          src={Tournament5.src}
          alt='Una participante del torneo disfrutando la estación de juego'
        />
      </div>
    </div>
    <div class='btn-left'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-arrow-left'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M5 12l14 0'></path><path d='M5 12l6 6'></path><path d='M5 12l6 -6'
        ></path></svg
      >
    </div>
    <div class='btn-right'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-arrow-right'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M5 12l14 0'></path><path d='M13 18l6 -6'></path><path d='M13 6l6 6'
        ></path></svg
      >
    </div>
  </div>
</section>

<style>
  .carrousel-container {
    width: 800px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    border: 2px solid #944175;
  }

  .carrousel {
    width: 500%;
    height: 100%;
    display: flex;
  }

  .image-container {
    width: calc(100% / 5);
    height: 100%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .btn-left,
  .btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s ease;
    background-color: rgba(100, 100, 100, 0.2);
    transform: translate(0, -50%);
    padding: 4px;
  }

  .btn-left:hover,
  .btn-right:hover {
    background-color: rgb(255 255 255 / 0.7);
  }

  .btn-left {
    left: 16px;
  }

  .btn-right {
    right: 16px;
  }

  .btn-left svg,
  .btn-right svg {
    width: 32px;
    height: 32px;
  }

  @media (max-width: 768px) {
    .carrousel-container {
      width: 700px;
      height: 394px;
    }
  }

  @media (max-width: 640px) {
    .carrousel-container {
      width: 350px;
      height: 197px;
    }

    .btn-left {
      left: 8px;
    }

    .btn-right {
      right: 8px;
    }
  }
</style>

<!-- Lógica Javascript. -->
<script>
  // Traemos los elementos necesarios para la lógica.
  const btnLeft = document.querySelector(".btn-left");
  const btnRight = document.querySelector(".btn-right");
  const slider = document.querySelector("#slider") as HTMLElement;
  const imagesContainers = document.querySelectorAll(".image-container");

  // Añadimos un addEventListener para detectar cuando hacemos click al botón.
  btnLeft.addEventListener("click", (e) => slideToLeft());
  btnRight.addEventListener("click", (e) => slideToRight());

  // Variable para saber cuánto debemos mover el slider.
  let slideAmount = 0;
  // Varibale para calcular dinamicamente la cantidad de imágenes en el carrusel.
  let widthImage = 100 / imagesContainers.length;
  // Varibale para conocer la posición dentro del slider.
  let counter = 0;

  // Funciones que se ejecutarán cuando hacemos click en los botones.
  function slideToLeft() {
    counter--;
    if (counter < 0) {
      counter = imagesContainers.length - 1;
      slideAmount = widthImage * (imagesContainers.length - 1);
      slider.style.transform = `translate(-${slideAmount}%)`;
      return;
    }

    slideAmount = slideAmount - widthImage;
    slider.style.transform = `translate(-${slideAmount}%)`;
    slider.style.transition = "all ease-in-out .6s";
  }

  function slideToRight() {
    if (counter >= imagesContainers.length - 1) {
      counter = 0;
      slideAmount = 0;
      slider.style.transform = `translate(-${slideAmount}%)`;
      return;
    }

    counter++;
    slideAmount = slideAmount + widthImage;
    slider.style.transform = `translate(-${slideAmount}%)`;
    slider.style.transition = "all ease-in-out .6s";
  }
</script>
